{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'osmcal/community/community.css' %}">
{% endblock %}

{% block title %}{{ block.super }} | Communities{% endblock %}

{% block content %}
    <div class="centered-content">
    	<h1>Communities</h1>
    	<div>
    		<p>
    			osmcal is the calendar for OpenStreetMap, but other communities are welcome, too.
    			<a href="{% url 'osmcal.community:community-create' %}"><button class="btn-mini">Create New Community</button></a>
    		</p>
    	</div>

    	<div class="community-class">
    	{% for community in communities %}
    		<div class="community-list-entry">
    			<a href="{% url 'osmcal.community:community' community.id %}">
    				<div>
    					<h2>{{ community.name }}</h2>
    					{{ community.member_count }} Members
    				</div>
    			</a>
    		</div>
    	{% endfor %}
    	</div>
    </div>
{% endblock %}
