{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'osmcal/community/community.css' %}">
{% endblock %}

{% block title %}{{ block.super }} | Communities{% endblock %}

{% block content %}
	<h1>Communities</h1>
	<p>
		osmcal is the calendar for OpenStreetMap, but other communities are welcome as well. <a href="{% url 'osmcal.community:community-create' %}">Create a new one.</a>
	</p>

	{% for community in communities %}
		<div class="community-list-entry"><a href="{% url 'osmcal.community:community' community.id %}"><h2>{{ community.name }}</h2>{{ community.member_count }} Members</a></div>
	{% endfor %}
{% endblock %}
