#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

export GDAL_LIBRARY_PATH=$(gdal-config --libs | awk '{print $1}' | sed 's/-L//')/libgdal.dylib
export PROJ_LIB=$(gdal-config --datadir)
export GEOS_LIBRARY_PATH=".devbox/nix/profile/default/lib/libgeos_c.dylib"
