[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"PyYaml" = "~=5.3"
pylint = "*"

[packages]
psycopg2-binary = "~=2.8"
requests = "~=2.22"
requests-oauthlib = "~=1.2"
django-leaflet = "~=0.27"
Django = "~=3.0"
Markdown = "~=3.2"
bleach = "~=3.3"
gunicorn = "~=20.0"
python-dotenv = "~=0.14"
sentry-sdk = "~=0.17"
django-prometheus = "~=2.0"
timezonefinder = "~=4.4"
Babel = "~=2.9"
django-background-tasks = "*"

[requires]
python_version = "3.7"

[scripts]
migrate = "./manage.py migrate"
staticfiles = "./manage.py collectstatic --noinput"
gunicorn = "gunicorn osmcal.wsgi"
devserver = "./manage.py runserver"
test = "./manage.py test"
