[tool.poetry]
name = "openstreetmap-calendar"
version = "2.2.0"
description = ""
authors = ["Thomas Skowron <th@skowron.eu>"]
license = "APACHE 2.0"

[tool.poetry.dependencies]
python = "^3.8"
psycopg2-binary = "~=2.8"
requests = "~=2.31"
requests-oauthlib = "~=1.2"
django-leaflet = "~=0.27"
Django = "~=3.2"
Markdown = "~=3.2"
bleach = "~=3.3"
gunicorn = "~=22.0"
python-dotenv = "~=0.14"
sentry-sdk = "~=1.14"
django-prometheus = "~=2.0"
timezonefinder = "~=6.0"
Babel = "~=2.9"
django-background-tasks = "*"
# django-background-tasks-updated = "==1.2.7" # pinned to a fork which supports Django 4

[tool.poetry.group.dev.dependencies]
PyYaml = "~=6.0"
pylint = "*"
black = "~=24.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py39']
extend-exclude = 'osmcal/migrations'
