<ul class="event-list">
{% load tz %}
{% for event in events %}
	<li class="event-list-entry{% if event.cancelled %} event-list-entry-cancelled{% endif %}"><a href="{% url 'event' event.id %}" class="event-list-entry-box">
		<div class="event-entry-main">
			<p class="event-entry-name">{{ event.name }}</p>
			{% if event.location_text %}<p class="event-entry-location">{{ event.location_text }}</p>{% endif %}
		</div>
		<span class="event-entry-date">
		{% timezone event.timezone %}
		{% if event.start.day == event.end.day or not event.end %}
			{{ event.start|date:"jS F" }}
		{% elif event.start.month == event.end.month  %}
			{{ event.start|date:"jS"}}–{{ event.end|date:"jS F" }}
		{% else %}
			{{ event.start|date:"jS F"}}–{{ event.end|date:"jS F" }}
		{% endif %}
		{% endtimezone %}
		</span>
	</a></li>
{% endfor %}
</ul>
