<ul class="event-list">
{% load tz %}
{% for event in events %}
	<li class="event-list-entry{% if event.cancelled %} event-list-entry-cancelled{% endif %}"><a href="{% url 'event' event.id %}" class="event-list-entry-box">
		<div class="event-entry-main">
			<p class="event-entry-name">{{ event.name }}</p>
			{% if event.location_text %}<p class="event-entry-location">{{ event.location_text }}</p>{% endif %}
		</div>
		<span class="event-entry-date">
		{% with start=event.start_localized %}{% with end=event.end_localized %}
		{% if start.day == end.day or not end %}
			{{ start|date:"jS F" }}
		{% elif start.month == end.month  %}
			{{ start|date:"jS"}}–{{ end|date:"jS F" }}
		{% else %}
			{{ start|date:"jS F"}}–{{ end|date:"jS F" }}
		{% endif %}
		{% endwith %}{% endwith %}
		</span>
	</a></li>
{% endfor %}
</ul>
