.community-list-entry {
	margin-bottom: 1em;
}	

.community-list-entry a {
	color: #5A5A5A;
}

.community-list-entry a:hover {
	text-decoration: none;
}

.community-list-entry h2 {
	margin: 0;
}

.community-breadcrumbs {
	background-color: #EEEEEE;
	max-width: 500px;
	padding: 5px;
}

.community-events-list .event-list-entry {
	padding: 0.5em 0;
}

.community-events-list .event-entry-name {
	font-size: 100%;
}

.community-events-list .event-entry-date {
	font-size: 90%;
}
