.community-list-entry:first-child {
	border-top: 1px solid #DBDBDB;
}

.community-list-entry {
	border-bottom: 1px solid #DBDBDB;
	max-width: 600px;
	padding: 1em 0;
}

.community-list-bubble {
	background-color: #7EBC6F;
	border-radius: 25px;
	box-sizing: border-box;
	color: white;
	font-weight: bold;
	height: 3em;
	padding-top: .75em;
	margin-right: 10px;
	text-align: center;
	width: 3em;
}

.community-list-entry a {
	color: #A4A4A4;
	display: block;
}

.community-list-entry a:hover {
	text-decoration: none;
}

.community-list-entry h2 {
	margin: 0;
}

.community-breadcrumbs {
	background-color: #EEEEEE;
	max-width: 500px;
	padding: 5px;
}

.community-events-list .event-list-entry {
	padding: 0.5em 0;
}

.community-events-list .event-entry-name {
	font-size: 100%;
}

.community-events-list .event-entry-date {
	font-size: 90%;
}
