.community-list-entry {
	margin-bottom: 1em;
}	

.community-list-entry a {
	color: #5A5A5A;
}

.community-list-entry a:hover {
	text-decoration: none;
}

.community-list-entry h2 {
	margin: 0;
}

.community-breadcrumbs {
	background-color: #EEEEEE;
	max-width: 500px;
	padding: 5px;
}
