{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}OpenStreetMap Calendar{% endblock %}</title>
	<link rel="icon" type="image/png" href="{% static 'osmcal/favicon.png' %}">
	<link rel="apple-touch-icon" href="{% static 'osmcal/touch-icon.png' %}">
	<link rel="stylesheet" href="{% static 'osmcal/style.css' %}">
	<link rel="stylesheet" media="screen and (max-width: 800px)" href="{% static 'osmcal/style-mobile.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<meta property="og:site_name" content="OpenStreetMap Calendar">
	<meta property="og:image" content="{% static 'osmcal/touch-icon.png' %}">
	<link rel="preload" href="{% static '/osmcal/source-sans-pro/SourceSansPro-Regular.otf' %}" as="font" type="font/otf" crossorigin>
	<link rel="preload" href="{% static '/osmcal/source-sans-pro/SourceSansPro-Bold.otf' %}" as="font" type="font/otf" crossorigin>
	{% block head %}
	{% endblock %}
</head>
<body>
	<header class="header-bar">
		<a href="/" class="header-home-area">
			<img class="header-home-icon" src="{% static 'osmcal/osm_logo.png' %}" height="55px" width="55px">
			<span class="hide-slim">OpenStreetMap Calendar</span>
			<span class="hide-wide">Calendar</span>
		</a>
		{% if request.resolver_match.view_name not in "event,event-edit" %}
		<nav class="navigation-top">
			<a href="/event/add/"><button class="btn">Add Event</button></a>
		</nav>
		{% endif %}
	</header>
	<content class="content-main">
		{% block content %}
		{% endblock %}
	</content>
	<footer class="footer">
		{% if user.is_authenticated %}You are logged in as <a href="/me/">{{ user.name }}</a>. <a href="/logout/">Logout</a>{% else %}<a href="/login/">Login</a>{% endif %}

		{% if debug and not user.is_authenticated %}| <a href="{% url 'login-mock' %}?next={% if next %}{{ next }}{% else %}{{ request.path }}{% endif %}">Mock login</a>{% endif %}

		<div style="margin-top:.5em"><a href="/events/past/">Past Events</a> | <a href="/documentation/">Documentation</a></div>
	</footer>
</body>
</html>
