{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}OSM Calendar{% endblock %}</title>
	<link rel="icon" type="image/png" href="{% static 'osmcal/favicon.png' %}">
	<link rel="apple-touch-icon" href="{% static 'osmcal/touch-icon.png' %}">
	<link rel="stylesheet" href="{% static 'osmcal/style.css' %}">
	<link rel="stylesheet" media="screen and (max-width: 800px)" href="{% static 'osmcal/style-mobile.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	{% block head %}
	{% endblock %}
</head>
<body>
	<header class="header-bar">
		<a href="/" class="header-home-area">
			<img class="header-home-icon" src="{% static 'osmcal/osm_logo.png' %}" height="100%">
			<span class="hide-slim">OpenStreetMap Calendar</span>
			<span class="hide-wide">Calendar</span>
		</a>
		{% if request.resolver_match.view_name != "event" %}
		<nav class="navigation-top">
			<a href="/event/add/"><button class="btn">Add Event</button></a>
		</nav>
		{% endif %}
	</header>
	<content class="content-main">
		{% block content %}
		{% endblock %}
	</content>
	<footer class="footer">
		{% if user.is_authenticated %}You are logged in as {{ user.name }}. <a href="/logout/">Logout</a>{% else %}<a href="/login/">Login</a>{% endif %}
		<div style="margin-top:.5em"><a href="/events/past/">Past Events</a> | <a href="/documentation/">Documentation</a></div>
	</footer>
</body>
</html>
