{% extends "base.html" %}

{% block title %}
	OpenStreetMap Calendar Manual
{% endblock %}

{% block content %}
<content class="text">
<h1>OpenStreetMap Calendar Documentation</h1>

<h2>Why?</h2>
<p>The OpenStreetMap Calendar (OSMCAL) has been created because we want to reach more people with the events the community creates. Organizers should have it easier to publish their events and participants should be able to find nearby events. The calendar shall be powerful, yet usable on mobile devices.</p>
<p>You can help us by spreading the word: Link to the calendar, create events and participate in them.</p>

<h2>RSS</h2>
<p>There are RSS Feeds: One global for all upcoming events, and one for each country. The base URL is <code>events.rss</code>. If only events in a certain country shall be returned, filters can be appended, e.g. <code>events.rss?in=Germany</code>.</p>

<p>For further information, refer to the <a href="/subscribe/">subscription information page</a>.</p>

<h2>API</h2>

<p>OSMCAL has a JSON-based API for retrieving a list of upcoming events:</p>

<pre>
	/api/v1/events/

	[
		{
			"name": "Mapping Party 23",
			"url": "https://osmcal.org/event/8/",
			"date": {
				"human": "10th January 12:00",
				"whole_day": false,
				"start": "2020-01-10 12:00:00",
				"end": "2020-01-10 14:00:00"
			},
			"location": {
				"short": "Alishan Township, Taiwan, TW",
				"detailed": "Cool Pub, Alishan Township, Taiwan, TW"
			}
		},

		...
	]
</pre>

<p>If you are displaying the date to end users, please consider using <code>date.human</code> as it already handles multiday events, whole day events and dates with and without end dates.</p>

<P>Please note that <code>date.end</code> is optional.</p>

<h2>Source Code and Issue Tracker</h2>

<p>The OpenStreetMap Calendar is open source software and is <a href="https://github.com/thomersch/openstreetmap-calendar">hosted on GitHub</a>. If you experience problems, you can raise an issue there.</p>

</content>
{% endblock %}
