{% extends "base.html" %}

{% block title %}
	OpenStreetMap Calendar Manual
{% endblock %}

{% block content %}
{% load markdown %}
<content class="text">
{% markdownify %}

# OpenStreetMap Calendar Documentation

## Why?

The OpenStreetMap Calendar has been created because we want to reach more people with the events the community creates. Organizers should have it easier to publish their events and participants should be able to find nearby events. The calendar shall be powerful, yet usable on mobile devices.

You can help us by spreading the word: Link to the calendar, create events and participate in them.

## RSS
There are RSS Feeds: One global for all upcoming events, and one for each country. The base URL is `event.rss`. If only events in a certain country shall be returned, filters can be appended, e.g. `event.rss?in=Germany`.

## Source Code and Issue Tracker

The OpenStreetMap Calendar is open source software and is [hosted on GitHub](https://github.com/thomersch/openstreetmap-calendar). If you experience problems, you can raise an issue there.

{% endmarkdownify %}
</content>
{% endblock %}
