{% extends "base.html" %}

{% load leaflet_tags static %}

{% block head %}
	{{ block.super }}
	{% include "osmcal/partials/no_index.html" %}
	
	{% leaflet_js plugins="forms" %}
	{% leaflet_css plugins="forms" %}
	<link rel="stylesheet" href="{% static 'osmcal/thirdparty/flatpickr.min.css' %}">
	<script src="{% static 'osmcal/thirdparty/flatpickr.js' %}"></script>
	<link rel="stylesheet" href="{% static 'osmcal/event-form.css' %}">
	<link rel="stylesheet" href="{% static 'osmcal/thirdparty/Control.OSMGeocoder.css' %}">
	<script src="{% static 'osmcal/thirdparty/Control.OSMGeocoder.js' %}"></script>
	{% if debug %}
	<script src="{% static 'osmcal/thirdparty/vue.js' %}"></script>
	{% else %}
	<script src="{% static 'osmcal/thirdparty/vue.min.js' %}"></script>
	{% endif %}
{% endblock %}

{% block content %}
	{% if page_title %}<h1>{{ page_title }}</h1>{% endif %}
	<form id="event-main-form" method="POST">
		{% csrf_token %}

		<section class="event-form">
			{% for field in form %}
			<div class="event-form-line{% if field.errors %} event-form-error{% endif %}">
				<label for="{{ field.id_for_label }}" class="event-form-leading-label">{{ field.label }}</label>
				{{ field }}
				{% if field.help_text %}<label class="event-form-helptext">{{ field.help_text }}</label>{% endif %}
			</div>
			{% endfor %}
		</section>

		<section id="event-question-form" class="event-question-form">
			<label class="event-question-form-label">
				Sign Up Survey
			</label>

			<div class="event-question-input-column">
				<div v-if="questions.length == 0">
					<button class="btn" v-on:click.prevent="addQuestion" formnovalidate>Create Sign Up Survey</button>
					<label class="event-question-form-helptext">You can ask the participants questions they will be asked to answer during event sign up, e.g. whether they'll join the after work party.</label>
				</div>

				<div v-for="(question, index) in questions" class="event-question-form-block">
					<h3>Question [[ index+1 ]]</h3>

					<div v-if="question.frozen" class="event-question-form-helptext" style="margin-bottom:1em;">Existing Questions cannot be changed.</div>

					<div class="event-question-line">
						<label v-bind:for="'id_questions-'+index+'-question_text'" class="event-question-label">Question Text</label>
						<input v-bind:name="'questions-' + index + '-question_text'" v-bind:id="'id_questions-'+index+'-question_text'" v-model="question.text" placeholder="E.g. your full name" :disabled="question.frozen" class="event-question-input" required>
					</div>

					<div class="event-question-line">
						<label v-bind:for="'id_questions-'+index+'-mandatory'" class="event-question-label">Required Answer</label>
						<input v-bind:name="'questions-' + index + '-mandatory'" v-bind:id="'id_questions-'+index+'-mandatory'" type="checkbox" v-model="question.mandatory" :disabled="question.frozen">
					</div>

					<div class="event-question-line">
						<label v-bind:for="'id_questions-'+index+'-answer_type'" class="event-question-label">Answer Type</label>
						<select v-bind:name="'questions-' + index + '-answer_type'" v-model="question.type" :disabled="question.frozen" class="event-question-input">
							<option value="TEXT">Text</option>
							<option value="CHOI">Choice</option>
							<option value="BOOL">Boolean (yes or no)</option>
						</select>
					</div>

					<div class="event-question-line" v-if="question.type == 'CHOI'">
						<label class="event-question-label">Choices</label>
						<ul class="event-question-choices"><li v-for="(choice, ci) in question.choices"><input v-model="choice.text" :disabled="question.frozen" class="event-question-input"></li></ul>
						<button v-on:click.prevent="addChoice(question)" class="btn-mini event-question-choice-button" v-if="!question.frozen">Add Choice</button>
						<textarea v-bind:name="'questions-' + index + '-choices'" v-model="choiceLines(question)" hidden></textarea>
					</div>
				</div>

				<template v-if="questions.length != 0">
					<div class="event-question-form-block">
						<button class="btn" v-on:click.prevent="addQuestion" formnovalidate>Add Question to Survey</button>
					</div>
				</template>
			</div>

			<input type="hidden" name="questions-TOTAL_FORMS" v-bind:value="questions.length">
			<input type="hidden" name="questions-INITIAL_FORMS" v-model="initial_questions_n">
			<input type="hidden" name="questions-MIN_NUM_FORMS" value="0">
			<input type="hidden" name="questions-MAX_NUM_FORMS" value="1000">
		</section>

		{% if event %}
		<div method="POST" class="event-form" style="margin-top: 1em;">
			<div class="event-form-line">
				<div class="event-form-leading-label"></div>
				<button type="submit" formaction="{% url 'event-cancel' event.id %}" class="btn btn-negative">Cancel Event</button>
				<label class="event-form-helptext">The event will be listed as cancelled and the list of participants will be hidden.</label>
			</div>
		</div>
		{% endif %}

		<p class="submit-row"><button class="btn" type="submit" style="font-size: 150%; width: 95%; max-width: 600px;">Save Event</button></p>
	</form>

	<script>
		var app = new Vue({
			el: '#event-question-form',
			delimiters: ['[[', ']]'],
			data: {
				questions: JSON.parse('{% if questions %}{{ questions | escapejs }}{% else %}[]{% endif %}')
			},
			created: function() {
				this.initial_questions_n = this.questions.length;
			},
			methods: {
				addQuestion: function() {
					this.questions.push({'type': 'TEXT', choices: [{}]});
				},
				addChoice: function(question) {
					question.choices.push({'text': ''});
					Vue.nextTick(function() {
						// TODO: Focus on the new field
					});
				},
				choiceLines: function(q) {
					t = function(o) {
						return o.text;
					};
					return q.choices.map(t).join('\n');
				}
			},
		});

		var fp = flatpickr(".datepicker-flat", {
			enableTime: true,
			time_24hr: true,
			locale: {'firstDayOfWeek': 1},
			onChange: function(selectedDates, dateStr, instance) {
				var seldat = selectedDates[0];
				for (var i = fp.length - 1; i >= 0; i--) {
					fp[i].changeMonth(seldat.getMonth(), false);
					// TODO: also change year
				}
			}
		});

		document.getElementsByName("whole_day").item(0).addEventListener('input', function(evt) {
			for (var i = fp.length - 1; i >= 0; i--) {
				fp[i].config.enableTime = !evt.target.checked;
				if(evt.target.checked) {
					fp[i].config.dateFormat = 'Y-m-d';
				} else {
					fp[i].config.dateFormat = 'Y-m-d H:i';
				}
			}
		});

		window.addEventListener("map:init", function (e) {
			var leafletmap = e.detail.map;
			var osmGeocoder = new L.Control.OSMGeocoder({
				collapsed: false,
				position: 'bottomright',
				placeholder: 'Search for Location',
				text: 'Find',
				callback: function(results) {
					var bbox = results[0].boundingbox,
					first = new L.LatLng(bbox[0], bbox[2]),
					second = new L.LatLng(bbox[1], bbox[3]),
					bounds = new L.LatLngBounds([first, second]);
					this._map.fitBounds(bounds, {maxZoom: 18});

					var fs = new geodjango_id_location.store_class(geodjango_id_location.fieldid);
					var marker = new L.Marker([results[0].lat, results[0].lon]);
					marker.addTo(this._map);
					fs.save(marker);
					marker.editing.enable();

					marker.on('dragend', function(e) {
						fs.save(marker);
					});
				}
			});
			
			leafletmap.addControl(osmGeocoder); 
		}, false);
	</script>
{% endblock %}
