{% extends "base.html" %}

{% load leaflet_tags markdown %}

{% block title %}{{ event.name }} | OpenStreetMap Calendar{% endblock %}

{% block head %}
	{{ block.super }}
	<meta property="og:title" content="{{ event.name }}">
	<meta property="og:description" content="{{ event.name }}, {% include 'osmcal/date.txt' %} {% if event.location_name %}at {{ event.location_name }}{% endif %} in {{ event.location_text }}. {{ event.description|truncatewords:15 }}">
	{% if event.location %}
		{% leaflet_js %}
		{% leaflet_css %}
		<script>
			window.addEventListener("map:init", function(e) {
				/* jshint ignore:start */
				var marker = new L.marker([{{ event.location.y }}, {{ event.location.x }}]);
				/* jshing ignore:end */
				marker.addTo(e.detail.map);
				marker.bindPopup("{{ event.location_detailed_addr }}");
				e.detail.map.setView(marker.getLatLng(), 12);
			});
		</script>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="event-single-block">
		<div class="event-single-main">
			<h1 class="event-single-title">{{ event.name }}</h1>
			<p class="event-single-location">
				{% if event.location_text %}{{ event.location_text }}<br>{% endif %}
				{% if event.location_name %}{{ event.location_name }}{% endif %}
			</p>

			<div class="event-single-date">
				{% include "osmcal/date.txt" %}
			</div>

			<p>{{ event.description|markdown|safe }}</p>
			<p>{% if event.link %}<a href="{{ event.link }}"><button class="btn">Event Website</button></a> {% endif %}<a href="{% url 'event-ical' event.id %}"><button class="btn">Add to Calendar</button></a></p>

		</div>
		<aside class="event-single-additional">
			{% if event.location %}
				{% leaflet_map "yourmap" %}
			{% endif %}

			<div class="event-single-side-buttons">
				<a href="{% url 'event-change' event.id %}"><button class="btn">Edit Event</button></a>
				<a href="{% url 'event-duplicate' event.id %}"><button class="btn">Repeat Event</button></a>
			</div>

			<div class="event-single-participation">
				<div class="event-single-participants">
					<h2>Participate</h2>
					{% with event.participation.count as participants %}
						{% if participants != 0 %}
							{% for p in event.participation.all|slice:":3" %}{{ p.user.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
							{% if participants > 4 %}
								and {{ participants|add:-3}} others 
							{% elif participants == 4 %}
								and {% with event.participation.all|slice:"3:4" as lp %}{{ lp.0.user.name }}{% endwith %}
							{% endif %}
							{% if participants > 1 %}are{% else %}is{% endif %} joining.

							{% if participants > 3 %}<a href="{% url 'event-participants' event.id %}">Show all.</a>{% endif %}
						{% endif %}
					{% endwith %}
				</div>

				{% if not user_is_joining %}
				<form action="{% url 'event-join' event.id %}" method="POST" class="event-single-join">
					{% csrf_token %}
					<button class="btn">Attend</button>
				</form>
				{% else %}
				<form action="{% url 'event-unjoin' event.id %}" method="POST" class="event-single-join">
					{% csrf_token %}
					<button class="btn btn-negative">Cancel Attendance</button>
				</form>
				{% endif %}
			</div>
		</aside>
	</div>

	<div class="event-single-attribution">
		Created by {% for l in authors %}<a href="https://openstreetmap.org/user/{{ l.created_by.name }}">{{ l.created_by.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
	</div>
{% endblock %}
