{% extends "base.html" %}

{% load leaflet_tags static %}

{% block head %}
	{{ block.super }}
	{% include "osmcal/partials/no_index.html" %}
	
	{% leaflet_js plugins="forms" %}
	{% leaflet_css plugins="forms" %}
	<link rel="stylesheet" href="{% static 'osmcal/thirdparty/flatpickr.min.css' %}">
	<script src="{% static 'osmcal/thirdparty/flatpickr.js' %}"></script>
	<link rel="stylesheet" href="{% static 'osmcal/event-form.css' %}">
	<link rel="stylesheet" href="{% static 'osmcal/thirdparty/Control.OSMGeocoder.css' %}">
	<script src="{% static 'osmcal/thirdparty/Control.OSMGeocoder.js' %}"></script>
	<script src="{% static 'osmcal/thirdparty/vue.min.js' %}"></script>
{% endblock %}

{% block content %}
	{% if page_title %}<h1>{{ page_title }}</h1>{% endif %}
	<form id="event-main-form" class="event-form" method="POST">
		{% csrf_token %}

		{% for field in form %}
		<div class="event-form-line{% if field.errors %} event-form-error{% endif %}">
			<label for="{{ field.id_for_label }}" class="event-form-leading-label">{{ field.label }}</label>
			{{ field }}
			{% if field.help_text %}<label class="event-form-helptext">{{ field.help_text }}</label>{% endif %}
		</div>
		{% endfor %}

		<section id="event-question-form">
			<label class="event-form-leading-label">Questions and<br>Answers</label>
			<button class="btn" v-on:click.prevent="addQuestion" formnovalidate>Add Sign Up Question</button><br>
			<label class="event-form-helptext">You can ask the participants questions they will be asked to answer during event sign up, e.g. whether they'll join the after event party.</label>

			<input type="hidden" name="questions-TOTAL_FORMS" v-bind:value="questions.length">
			<input type="hidden" name="questions-INITIAL_FORMS" value="0">
			<input type="hidden" name="questions-MIN_NUM_FORMS" value="0">
			<input type="hidden" name="questions-MAX_NUM_FORMS" value="1000">

			<div v-for="(question, index) in questions">
				<input v-bind:name="'questions-' + index + '-question_text'" v-model="question.text" placeholder="E.g. your full name" :disabled="question.frozen">
				<input v-bind:name="'questions-' + index + '-mandatory'" type="checkbox" v-model="question.mandatory" :disabled="question.frozen">
				<select v-bind:name="'questions-' + index + '-answer_type'" v-model="question.type" :disabled="question.frozen">
					<option value="TEXT">Text</option>
					<option value="CHOI">Choice</option>
					<option value="BOOL">Boolean (yes or no)</option>
				</select>

				<div v-if="question.type == 'CHOI'">
					Choices: <ul><li v-for="(choice, ci) in question.choices"><input v-model="choice.text" :disabled="question.frozen"></li></ul><button v-on:click.prevent="addChoice(question)">Add Choice</button>
					<textarea v-bind:name="'questions-' + index + '-choices'" v-model="choiceLines(question)" hidden></textarea>
				</div>
				<hr>
			</div>
		</section>
		<p class="submit-row"><button class="btn" type="submit" style="font-size: 150%; width: 95%;">Save Event</button></p>
	</form>

	<script>
		var app = new Vue({
			el: '#event-question-form',
			delimiters: ['[[', ']]'],
			data: {
				/* jshint ignore:start */
				questions: JSON.parse('{{ questions | escapejs }}')
				/* jshint ignore:end */
			},
			methods: {
				addQuestion: function() {
					this.questions.push({'type': 'TEXT', choices: []});
				},
				addChoice: function(question) {
					question.choices.push({'text': ''});
				},
				choiceLines: function(q) {
					t = function(o) {
						return o.text;
					};
					return q.choices.map(t).join('\n');
				}
			}
		});

		var fp = flatpickr(".datepicker-flat", {
			enableTime: true,
			time_24hr: true,
			locale: {'firstDayOfWeek': 1},
			onChange: function(selectedDates, dateStr, instance) {
				var seldat = selectedDates[0];
				for (var i = fp.length - 1; i >= 0; i--) {
					fp[i].changeMonth(seldat.getMonth(), false);
					// TODO: also change year
				}
			}
		});

		document.getElementsByName("whole_day").item(0).addEventListener('input', function(evt) {
			for (var i = fp.length - 1; i >= 0; i--) {
				fp[i].config.enableTime = !evt.target.checked;
				if(evt.target.checked) {
					fp[i].config.dateFormat = 'Y-m-d';
				} else {
					fp[i].config.dateFormat = 'Y-m-d H:i';
				}
			}
		});

		window.addEventListener("map:init", function (e) {
			var leafletmap = e.detail.map;
			var osmGeocoder = new L.Control.OSMGeocoder({
				collapsed: false,
				position: 'bottomright',
				placeholder: 'Search for Location',
				text: 'Find',
				callback: function(results) {
					var bbox = results[0].boundingbox,
					first = new L.LatLng(bbox[0], bbox[2]),
					second = new L.LatLng(bbox[1], bbox[3]),
					bounds = new L.LatLngBounds([first, second]);
					this._map.fitBounds(bounds, {maxZoom: 18});

					var fs = new geodjango_id_location.store_class(geodjango_id_location.fieldid);
					var marker = new L.Marker([results[0].lat, results[0].lon]);
					marker.addTo(this._map);
					fs.save(marker);
					marker.editing.enable();

					marker.on('dragend', function(e) {
						fs.save(marker);
					});
				}
			});
			
			leafletmap.addControl(osmGeocoder); 
		}, false);
	</script>
{% endblock %}
