{% extends "base.html" %}

{% load leaflet_tags markdown %}

{% block title %}
	{{ event.name }}
{% endblock %}

{% block head %}
	{{ block.super }}
	{% if event.location %}
		{% leaflet_js %}
		{% leaflet_css %}
		<script>
			window.addEventListener("map:init", function(e) {
				/* jshint ignore:start */
				var marker = new L.marker([{{ event.location.y }}, {{ event.location.x }}]);
				/* jshing ignore:end */
				marker.addTo(e.detail.map);
				e.detail.map.setView(marker.getLatLng(), 12);
			});
		</script>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="event-single-block">
		<div class="event-single-main">
			<h1 class="event-single-title">{{ event.name }}</h1>
			{% if event.location_text %}<p class="event-single-location">{{ event.location_text }}</p>{% endif %}

			<div class="event-single-date">
				{% include "osmcal/date.txt" %}
			</div>

			<p>{{ event.description|markdown|safe }}</p>
			<p>{% if event.link %}<a href="{{ event.link }}"><button class="btn">Event Website</button></a> {% endif %}<a href="{% url 'event-ical' event.id %}"><button class="btn">Add to Calendar</button></a></p>

			<form action="{% url 'event-join' event.id %}" method="POST">
				{% csrf_token %}
				<button class="btn">Join this Event</button>
			</form>

			<div class="event-single-participants">
				{% with event.participation.count as participants %}
					{% if participants != 0 %}
						{% for p in event.participation.all|slice:":3" %}{{ p.user.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
						{% if participants > 3 %}and {{ participants|add:-3}} others {% endif %}
						{% if participants > 1 %}are{% else %}is{% endif %} joining.
					{% endif %}
				{% endwith %}
			</div>
		</div>
		<aside class="event-single-additional">
			{% if event.location %}
				{% leaflet_map "yourmap" %}
			{% endif %}

			<div class="event-single-side-buttons">
				<a href="{% url 'event-change' event.id %}"><button class="btn">Edit event</button></a>
			</div>
		</aside>
	</div>

	<div>
		Created by <a href="https://openstreetmap.org/user/{{ event.created_by.name }}">{{ event.created_by.name }}</a>
	</div>
{% endblock %}
