{% extends "base.html" %}
{% load static %}

{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Event Feed" href="{% url 'event-rss' %}">
	{% if filter.in %}
	<link rel="alternate" type="application/rss+xml" title="Event Feed for {{ filter.in }}" href="/events.rss?in={{ filter.in }}">
	{% endif %}

	<script type="text/javascript">
		function country_filter_changed(e) {
			if (e.value == "anywhere") {
				window.location = "/";
			} else if (e.value == "nearby") {
				navigator.geolocation.getCurrentPosition(function(position) {
					var lat = Math.round(position.coords.latitude * 10000)/10000;
					var lon = Math.round(position.coords.longitude * 10000)/10000;
					window.location = "/?around="+lat+","+lon;
				});
			} else {
				window.location = "/?in="+e.value;
			}
		}
	</script>
{% endblock %}

{% block title %}{% if filter.in %}OpenStreetMap Events in {{ filter.in }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
	<div class="text">
		<div class="event-filter-controls">
			<select class="select-dropdown" onchange="country_filter_changed(this);">
				<option value="anywhere">Anywhere</option>
				<option {% if filter.around %}selected{% endif %} value="nearby">Nearby</option>
				{% for country in country_list %}
				<option {% if filter.in == country %}selected{% endif %} value="{{ country }}">{{ country }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="event-subscribe-buttons">
			<a href="{% url 'subscription-info' %}{% if filter.in %}?in={{ filter.in }}{% endif %}"><button class="btn">Subscribe</button></a>
		</div>
	</div>

	{% include "osmcal/partials/event_list.html" %}
{% endblock %}
