{% extends "base.html" %}

{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Event Feed" href="/events.rss">
	{% if filter.in %}
	<link rel="alternate" type="application/rss+xml" title="Event Feed for {{ filter.in }}" href="/events.rss?in={{ filter.in }}">
	{% endif %}

	<script type="text/javascript">
		function country_filter_changed(e) {
			if (e.value == "anywhere") {
				window.location = "/";
			} else if (e.value == "nearby") {
				navigator.geolocation.getCurrentPosition(function(position) {
					var lat = Math.round(position.coords.latitude * 10000)/10000;
					var lon = Math.round(position.coords.longitude * 10000)/10000;
					window.location = "/?around="+lat+","+lon;
				});
			} else {
				window.location = "/?in="+e.value;
			}
		}
	</script>
{% endblock %}

{% block title %}{% if filter.in %}OSM Events in {{ filter.in }}{% else %}OSM Calsssendar{% endif %}{% endblock %}

{% block content %}
	<!--
		TODO: Group by months
	{% regroup events by start.month as event_groups %}

	{% for g in event_groups %}
		{{ g.grouper }}
	{% endfor %}
	-->
	<div class="event-filter-controls">
		<select class="event-filter-selector" onchange="country_filter_changed(this);">
			<option value="anywhere">Anywhere</option>
			<option {% if filter.around %}selected{% endif %} value="nearby">Nearby</option>
			{% for country in country_list %}
			<option {% if filter.in == country %}selected{% endif %} value="{{ country }}">{{ country }}</option>
			{% endfor %}
		</select>
	</div>

	<ul class="event-list">
	{% for event in events %}
		<li class="event-list-entry"><a href="/event/{{ event.id }}/" class="event-list-entry-box">
			<div class="event-entry-main">
				<p class="event-entry-name">{{ event.name }}</p>
				{% if event.location_text %}<p class="event-entry-location">{{ event.location_text }}</p>{% endif %}
			</div>
			<span class="event-entry-date">
			{% if event.start.day == event.end.day or not event.end %}
				{{ event.start|date:"jS F" }}
			{% elif event.start.month == event.end.month  %}
				{{ event.start|date:"jS"}}-{{ event.end|date:"jS F" }}
			{% else %}
				{{ event.start|date:"jS F"}}-{{ event.end|date:"jS F" }}
			{% endif %}
			</span>
		</a></li>
	{% endfor %}
	</ul>
{% endblock %}
