{% extends "base.html" %}

{% block title %}
    Your Account
{% endblock %}

{% block content %}
<content class="text">
	<h1>Hi, {{ request.user.name }}!</h1>

	<h2>User Info</h2>
	<p>You're registered since {{ request.user.date_joined|date:"Y-m-d" }}.</p>

	{% if request.user.home_location %}
	<p>Your home location is {{ request.user.home_location.y }}/{{ request.user.home_location.x }}, time zone {{ request.user.home_timezone }}.</p>
	{% else %}
	<p>Your home location is unknown, but you can set it in your <a href="https://www.openstreetmap.org/user/{{ request.user.name }}/account">OpenStreetMap.org user settings</a>.</p>
	{% endif %}

	{% if enable_communities %}
	<h2>Communities</h2>
    	{% if user.communities.count == 0 %}
    	<p>You aren't yet a member of any community.</p>
    	{% else %}
    	<p>You are part of the following communities:</p>
    	<ul>
    	    {% for cm in user.communities.all %}
    	    <li><a href="{% url "community:community" cm.id %}">{{cm.name}}</a></li>
    		{% endfor %}
    	</ul>
    	{% endif %}
	{% endif %}
</content>
{% endblock %}
