.event-form {
	max-width: 600px;
}

.event-form-leading-label {
	box-sizing: border-box;
	color: #5A5A5A;
	display: inline-block;
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
	width: 20%;
}

.event-form-line {
	margin-bottom: 1em;
}

.event-form input, select {
	box-sizing: border-box;
	font-size: 12pt;
	padding: 10px;
	width: 70%;
}

.event-form textarea {
	font-size: 12pt;
	vertical-align: top;
	width: 70%;
}

.event-form-helptext {
	color: #666666;
	display: block;
	font-size: 90%;
	margin-left: 20%;
	margin-top: .25em;
	padding-left: 3px;
	width: 70%;
}

.event-form #id_location-map {
	display: inline-block;
	margin-bottom: 1em;
	vertical-align: top;
	width: 70%;
}

.event-form .submit-row input {
	width: 93%;
}

.leaflet-control-geocoder-form input {
	height: 14px;
	font-size: 12px;
	margin-bottom: inherit;
	width: inherit;
}

.event-form-error {
	background-color: #ffe0bb;
}
