.event-form {
	max-width: 600px;
}

.event-form label {
	color: #5A5A5A;
	display: inline-block;
	font-weight: bold;
	margin-top: 0.5em;
	padding-right: 10px;
	text-align: right;
	width: 20%;
}

.event-form input, select {
	font-size: 12pt;
	margin-bottom: 1em;
	width: 70%;
}

.event-form textarea {
	font-size: 12pt;
	vertical-align: top;
	width: 70%;
}

.event-form #id_location-map {
	display: inline-block;
	margin-bottom: 1em;
	vertical-align: top;
	width: 70%;
}

.event-form .submit-row input {
	width: 93%;
}
