.event-single-block {
	display: block;
}

.hide-slim {
	display: none;
}

.hide-wide {
	display: inherit;
}

.event-single-attribution {
	margin-top: 2em;
}

.event-subscribe-buttons {
	margin-right: 10px;
}
