@font-face {
	font-family: "Source Sans";
	font-weight: normal;
	src: url("/static/osmcal/source-sans-pro/SourceSansPro-Regular.otf");
}

@font-face {
	font-family: "Source Sans";
	font-weight: bold;
	src: url("/static/osmcal/source-sans-pro/SourceSansPro-Bold.otf");
}

body {
	font-family: "Source Sans Pro", "Source Sans", sans-serif; /* if Source Sans Pro is installed, it won't be loaded from remote */
	margin: 0;
}

a {
	color: #24d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	color: #5A5A5A;
}

.btn {
	background-color: white;
	border: 2px solid #7EBC6F;
	color: #7EBC6F;
	cursor: pointer;
	font-size: 12pt;
	font-weight: bold;
	padding: 0.5em 1.2em;
}

.btn-mini {
	background-color: white;
	border: 2px solid #7EBC6F;
	color: #7EBC6F;
	cursor: pointer;
	font-size: 10pt;
	font-weight: bold;
	padding: 0.3em 0.5em;
}

.btn-negative {
	border-color: #DD9D53;
	color: #DD9D53;
}

.hide-wide {
	display: none;
}

.hide-slim {
	display: inherit;
}

.content-main {
	/*width: 50%;*/
	/*max-width: 600px;*/
	/*margin: 0 auto;*/
	display: block;
	margin-left: 1em;
}

.header-bar {
	background-color: #F3F3F3;
	display: block;
	height: 55px;
	margin-bottom: 1em;
	padding: 10px;
}

.header-home-area, .header-home-area:hover {
	color: #5A5A5A;
	display: inline-block;
	height: 100%;
	font-size: 18pt;
	text-decoration: none;
}

.header-home-icon {
	margin-right: 5px;
	vertical-align: middle;
}

.navigation-top {
	display: block;
	float: right;
	height: 100%;
}

.navigation-top a {
	vertical-align: middle;
}

.event-list {
	list-style: none;
	max-width: 600px;
	padding-left: 0;
	padding-right: 1em;
}

.event-list a:hover {
	text-decoration: none;
}

.event-list-entry:first-child {
	border-top: 1px solid #DBDBDB;
}

.event-list-entry {
	border-bottom: 1px solid #DBDBDB;
	color: #5A5A5A;
	font-size: 14pt;
	padding: 1em 0;
}

.event-list-entry a {
	color: inherit;
}

.event-list-entry-box {
	align-items: center;
	display: flex;
}

.event-entry-main {
	flex-grow: 2;
	padding-right: 10px;
}

.event-entry-name {
	font-size: 18pt;
	font-weight: bold;
	margin: 0;
}

.event-entry-location {
	color: #A4A4A4;
	font-size: 12pt;
	margin: 0;
}

.event-entry-date {
	text-align: right;
	white-space: nowrap;
}

.footer {
	background-color: #F3F3F3;
	font-size: 90%;
	margin-top: 2em;
	padding: 1em;
}

.select-dropdown {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url('/static/osmcal/triangle.svg') no-repeat right white;
	background-origin: content-box;
	border: 2px solid #7EBC6F;
	border-radius: 0;
	color: #7EBC6F;
	font-size: 12pt;
	font-weight: bold;
	min-width: 9em;
	padding: 0.5em 1em;
	width: 100%;
}

.event-single-title {
	line-height: 1em;
	margin: 0;
}

.event-single-location {
	color: #5A5A5A;
	margin: 0;
}

.event-single-block {
	display: flex;
}

.event-single-main, .event-single-additional {
	flex: 1;
	padding-right: 1em;
}

.event-single-side-buttons {
	margin-top: 1em;
	text-align: right;
}

.event-single-date {
	font-size: 110%;
	margin: 1em 0;
}

.text {
	display: block;
	max-width: 600px;
}

.text pre {
	overflow: scroll;
}

.event-single-join {
	margin-top: .5em;
}

.event-single-participants h2 {
	margin-bottom: .25em;
}

.event-single-participants {
	margin-top: 1em;
}

.event-feed-button-panel {
	display: flex;
	justify-content: space-between;
}

.event-filter-controls {
	padding-right: 10px;
}

.participant-table {
	margin-top: 1em;
}

.participant-table th {
	text-align: left;
}

.participant-table td, .participant-table th {
	padding: 0.5em;
}

.participant-table tr:nth-child(even) {
	background-color: #eeeeee;
}
