.content-main {
	margin-left: 1em;
	margin-right: 1em;
}

.content-main-fullwidth {
	margin-left: 0;
	margin-right: 0;
}

.event-single-block {
	display: block;
}

.hide-slim {
	display: none;
}

.hide-wide {
	display: inherit;
}

.event-single-attribution {
	margin-top: 2em;
}
