.survey-form-line {
	align-items: baseline;
	display: flex;
	margin-top: 1em;
	max-width: 600px;
}

.survey-form-leading-label {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
	width: 100px;
}

.survey-form-line input, .survey-form-line select {
	font-size: 14pt;
	padding: 0.5em;	
}

.survey-form-line select, .survey-form-line input[type='text'] {
	flex: 1;
}

.survey-submit-button {
	margin-top: 1em;
	max-width: 600px;
	width: 100%;
}

.survey-form-required {
	color: red;
}
